<div class="form-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div *ngIf="step === 1">
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.required" class="error">
            Электронная почта обязательна.
        </div>
        <div *ngIf="email.errors?.email" class="error">
          Некорректный формат электронной почты.
        </div>
      </div>

      <label for="password">Пароль:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.required" class="error">
            Требуется пароль.
        </div>
        <div *ngIf="password.errors?.minlength" class="error">
          Пароль должен содержать минимум 6 символов.
        </div>
        <div *ngIf="password.errors?.maxlength" class="error">
          Пароль должен содержать максимум 20 символов.
        </div>
        <div *ngIf="password.errors?.pattern" class="error">
          Пароль может содержать только буквы и цифры.
        </div>
      </div>

      <label for="confirmPassword">Подтвердите пароль:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
      <div *ngIf="!isPasswordMatching && (confirmPassword.dirty || confirmPassword.touched)" class="error">
        Пароли не совпадают
      </div>

      <button type="button" [disabled]="!registrationForm.valid" (click)="goToStep(2)">
        Дальше
      </button>
    </div>

    <div *ngIf="step === 2">
      <p>На почту {{ email.value }} был выслан код.</p>
      <label for="code">Введите код:</label>
      <input type="text" id="code" formControlName="code" />
      <button type="submit" [disabled]="!registrationForm.valid">
        Завершить регистрацию
      </button>
    </div>
  </form>
</div>
