.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 30%;
}

form {
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button[disabled] {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.error {
    color: rgb(252, 118, 118);
}
  